<h3>Bienvenido a <%= title %></h3>
<p>
  El portal donde podrá crear sus propios juegos!
</p>
<p><br></p>
<hr/>
<p><br></p>
<p>
  <h4><font color=blue>
    Una vez haya entrado en la applicacion, dispone de máximo 2 minutos
    de período de inactividad. Transcurrido ese tiempo su sesión caducará
    y únicamente podrá continuar en la aplicación logueándose.
  </font></h4>
</p>
