<br/>
<% if (respuesta == "Correcto") { %>
      <font color="#77FF77">
<% } else if (respuesta == "Incorrexto") { %>
      <font color="red">
<% } %>
<%= respuesta %></font>
<p>
<a href='/quizes/question'>Intentelo otra vez</a>
<br/>
